<%= flash_messages %>
<div class="block">
	<header class="header-group">
		<h2>Welcome to Project Managment Software.</h2>
	</header>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	
	<div class="row" style="margin-top:150px">
		
		<%if !current_user.nil? && current_user.has_role?(:admin) %>
			<div class="col-md-6">
				<h1>Charts on based on projects</h1>
				<%= pie_chart Todolist.group(:status).count %>
			</div>
			
			<div class="col-md-6">
				<h1>Charts on based on developer</h1>
				<%= column_chart Todolist.joins(:user).group(:username).count %>
			</div>
		<%end%>
	
	</div>
</div>